<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAVA PATAS</title>

    <!-- Chamar os arquivos externos -->   
    <link rel="stylesheet" type="text/css" href="css/inicial_styles.css">

</head>
<body>
    <div>

        <img src="image/LAVANDO_PATAS-0.png" alt="lava patas">

        <div>
 
            <a href="/cadastro" type="submit" id="agendar"><button>Agendamento</button></a>
            <a href="/consulta" type="submit" id="consulta"><button>Consulta</button></a>

        </div>   

              
    </div>   
</body>
</html>